Lab7Form/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DayOfWeek">
        <s:complexType />
      </s:element>
      <s:element name="DayOfWeekResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DayOfWeekResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Day">
        <s:complexType />
      </s:element>
      <s:element name="DayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DayOfYear">
        <s:complexType />
      </s:element>
      <s:element name="DayOfYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DayOfYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DayOfWeekSoapIn">
    <wsdl:part name="parameters" element="tns:DayOfWeek" />
  </wsdl:message>
  <wsdl:message name="DayOfWeekSoapOut">
    <wsdl:part name="parameters" element="tns:DayOfWeekResponse" />
  </wsdl:message>
  <wsdl:message name="DaySoapIn">
    <wsdl:part name="parameters" element="tns:Day" />
  </wsdl:message>
  <wsdl:message name="DaySoapOut">
    <wsdl:part name="parameters" element="tns:DayResponse" />
  </wsdl:message>
  <wsdl:message name="DayOfYearSoapIn">
    <wsdl:part name="parameters" element="tns:DayOfYear" />
  </wsdl:message>
  <wsdl:message name="DayOfYearSoapOut">
    <wsdl:part name="parameters" element="tns:DayOfYearResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="DayOfWeek">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Текущий день недели</wsdl:documentation>
      <wsdl:input message="tns:DayOfWeekSoapIn" />
      <wsdl:output message="tns:DayOfWeekSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Day">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Текущий день в месяце (число)</wsdl:documentation>
      <wsdl:input message="tns:DaySoapIn" />
      <wsdl:output message="tns:DaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DayOfYear">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Текущий день в году (число)</wsdl:documentation>
      <wsdl:input message="tns:DayOfYearSoapIn" />
      <wsdl:output message="tns:DayOfYearSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DayOfWeek">
      <soap:operation soapAction="http://tempuri.org/DayOfWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Day">
      <soap:operation soapAction="http://tempuri.org/Day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DayOfYear">
      <soap:operation soapAction="http://tempuri.org/DayOfYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DayOfWeek">
      <soap12:operation soapAction="http://tempuri.org/DayOfWeek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Day">
      <soap12:operation soapAction="http://tempuri.org/Day" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DayOfYear">
      <soap12:operation soapAction="http://tempuri.org/DayOfYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44334/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44334/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>